<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%= render '/refinery/head' %>
<body<%= %Q{ id="page-#{@page.id}"}.html_safe if @page.present? %>>
  <div id="page_container">
    <div id="header-wrapper">
      <header id="header" class="clearfix">
        <%= render '/refinery/header' -%>
      </header>
    </div>
    <div id="page-wrapper">
      <div id="page-bg-holder">
        <section id="page" class="clearfix" >
          <%= yield %>
        </section>
      </div>
    </div>
    <div id="footer-wrapper">
      <footer id="footer" >
        <div class="inner clearfix">
          <%= render '/refinery/footer' -%>
        </div>
      </footer>
    </div>
  </div>
  <%= render '/refinery/javascripts' %>
</body>
</html>
